
  <div class="text-white position-relative">
    <img class="image-cover" src="./../../../assets/images/movies.jpg" alt="">
    <div class="cover-content w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <span class="cover-text head-1">Cinema</span>
        <span class="cover-text head-2">Unlimited movies, TV shows, and more.</span>
        <span class="cover-text head-3">Watch anywhere. Cancel anytime.</span>
      </div>
    </div>
  </div>
