.image-cover{
  filter: brightness(40%);
  max-height: 750px;
  width: 100%;
}
.cover-content{
  position: absolute;
  top: 0px;
  left: 0px;
}

.cover-text{
  display: block;
}
.cover-text.head-1{
  font-size: 4.5vw;
  font-weight: bold;
}
.cover-text.head-2{
  font-size: 3.5vw;
}
.cover-text.head-3{
  font-size: 2.5vw;
}
