<div class="row align-items-center h-100 w-100">
  <div class="card col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 offset-sm-1 offset-md-2 offset-lg-3 bg-dark">
    <div class="card-header">
      <span class="title">Sign in</span>
    </div>
    <div class="card-body">
      <div class="alert alert-danger p-2" *ngIf="error">
        <span><i class="fas fa-info-circle"></i> {{ error }}</span>
      </div>
      <form #form="ngForm" (ngSubmit)="signin(form.value)" class="text-dark">
        <div class="form-floating mb-3">
          <input name="email" ngModel type="email" class="form-control" id="email" placeholder="E-mail">
          <label for="email">E-mail</label>
        </div>
        <div class="form-floating">
          <input name="password" ngModel type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-danger form-control mt-3">
          <span class="mx-1" *ngIf="signinLoading">
            <i class="fas fa-circle-notch fa-spin"></i>
          </span>
          <span *ngIf="!signinLoading">Sign in</span>
        </button>
        <span class="text-white mt-3 d-block">
          New to Cinema?
          <a
            [routerLink]="'/auth/signup'"
            class="signup-link"
          >
            Sign up now
          </a>.
        </span>
      </form>
    </div>
  </div>
</div>
